@import "../../styles/helpers";
.sf-color {
  box-sizing: border-box !important;
  position: relative !important;
  width: var(--color-width, var(--color-size, 2.5rem)) !important;
  height: var(--color-height, var(--color-size, 2.5rem)) !important;
  background: var(--color-background) !important;
  border-radius: var(--color-border-radius) !important;
  @include box-shadow(
    --color-box-shadow,
    0px,
    4px,
    4px,
    0px,
    var(--c-black),
  );
  --color-box-shadow-opacity: 0 !important;
  --color-box-shadow-transition-duration: 150ms !important;
  transition: transform 150ms linear !important;
  &__badge {
    --badge-padding: var(--spacer-2xs) !important;
    --badge-border-radius: 100% !important;
    position: absolute !important;
  }
  @include for-desktop {
    --color-size: 0.75rem;
    &.is-active,
    &:hover {
      transform: scale(1.667);
      --color-box-shadow-opacity: 0.25;
    }
    &:active {
      --color-box-shadow: none;
    }
  }
  &--rounded {
    --color-border-radius: 100%;
  }
}
