@import "../../../styles/helpers";

.brand_wrapper {

  & .brand_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    padding: 30px;
    border: 1px solid transparent;
  }

  & .brand_letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .brand_letter_indent {
    width: 100%;
    height: 1px;
    background-color: var(--_c-light-primary);
  }

  & .sf-heading__title {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
  }

  & .brand_search {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 700;
  }

  & .reset_brands {
    padding-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
  }
}

.no_brand_found {
  text-align: center;
}

@media screen and (max-width: 950px) {
  .brand_wrapper .brand_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .brand_wrapper .brand_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .brand_wrapper .brand_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 370px) {
  .brand_wrapper .brand_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}